*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin:0;
    height:100vh;
    width:100vw;
}

.main-container{
    height:100%;
    width:100%;
}
.container{
    height:100%;
    width:100%;
    z-index: 1;
    display:grid;
    grid-template: 64px 2fr / 240px 1fr;
}

.sidebar{
    background-color: black;
    grid-area:1/1/3/2;
    padding:24px;
}
.sidebar-link{
    font-size:14px;
    color:#a7a7a7;
}

.sidebar-link:hover,
.log-in:hover{
    color:white;
}

.content{
    background: linear-gradient(180deg, #202020,#121212);
    grid-area:2/2/3/3;
    height:100%;
    padding:40px;

}

/* Sidebar Content */
.logo-container{
    display:flex;
    gap:12px;
    align-items: center;
}
.spotify-text{
    font-size:24px;
    color:white;
}
.spotify-logo{
    height:40px;
    width:40px;
}

ul{
    color:white;
    list-style: none;
    font-size:18px;
    font-weight:600;
    padding:0;
}
.sidebar-links{
    display:flex;
    flex-direction: column;
    gap: 32px;
}
li{
    padding-bottom:16px;
    display:flex;

    align-items: center;
}

.icon{
    height:24px;
    width:24px;
    margin-right: 16px;
}
/* Header Content */
.header{
    background-color: #101010;
    grid-area:1/2/2/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:32px;
    padding-right:40px;
}

.log-in{
    color:#a7a7a7;
    font-weight: 700;
}
.sign-up{
    background-color: #1DB954;
    border:none;
    padding:18px 32px;
    border-radius:32px;
    color:white;
    font-weight: 600;
}

/* Main Content */

.title-container{
    display:flex;
    justify-content: space-between;
}

.title{
    margin:0;
    color:white;
    font-weight: 700;
    margin-bottom: 16px;
    font-size:24px;
}
.show-all{
    color:#b3b3b3;
    font-weight:800;
}

.content-cards{
    display:flex;
    flex-wrap: wrap;
    gap:24px;
    margin-bottom: 40px;
}

.card{
    display:flex;
    min-width: 192px;
    max-width: 192px;
    min-height: 264px;
    max-height: 264px;
    flex:1;
    flex-direction: column;
    height:279px;
    padding:16px;
    background: linear-gradient(180deg, #181818,#282828);
    color:white;
    border-radius: 8px;
}
.card:hover{
    background:#282828
}

.card-image{
    min-width: 148px;
    min-height: 148px;
    max-height: 188px;
    margin-bottom:16px;
}
.card-title{
margin:8px 0;
font-size: 1rem;
}

.card-desc{
    font-size:.875rem;
}
p{
    margin:0;
    color:#979797;
    font-size: 14px;
}

/* Overlay */
.overlay{
    display: none;
    position: absolute;
    opacity: 80%;
    height:100%;
    width:100%;
    top:0;
    z-index: 5;
    background-color: black;
}

/* popup */

.popup{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background: linear-gradient(180deg, #181818,#282828);
    border-radius: 10px;
    width:860px;
    height:592px;
    padding:56px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    display:flex;
    flex-direction: column;
    align-items: center;
}
.delete{
    position: absolute;
    top:5%;
    right:5%;
    width:32px;
    height:32px;
    filter: grayscale(100%);
}
.popup-title{
    text-align: center;
    color:white;
    
}

#create-form{
    display:grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap:24px;
}

#username,
#email,
#country,
#zip,
#password,
#confirm{
    height:40px;
    width: 320px;
}
#username-container.active::before{
    position:absolute;
    color:rgb(253, 99, 99);
    font-weight:normal;
    top:37%;
    content:'Enter at least 8 characters'
}
#email-container.active::before{
    position:absolute;
    color:rgb(253, 99, 99);
    font-weight:normal;
    top:37%;
    content:'* Enter valid email. Ex: name@email.com'
}
#zip-container.active::before{
    position:absolute;
    color:rgb(253, 99, 99);
    font-weight:normal;
    top:55%;
    content:'Enter ONLY numbers'
}
#confirm-container.active::before{
    position:absolute;
    color:rgb(253, 99, 99);
    font-weight:normal;
    top:72%;
    content:'Passwords do not match'
}
#username{
    grid-area:1/1/2/2;
}

#email{
    grid-area:1/2/2/3;
}
#country{
    grid-area:2/1/3/2;
}
#zip{
    grid-area:2/2/3/3;
}
#password{
    grid-area:3/1/4/2;
}
#confirm{
    grid-area:3/2/4/3;
}
#popup-button{
    padding:16px 48px;
    background-color: #1DB954;
    color:white;
    border:none;
    border-radius: 8px;
    font-size:24px;
    font-weight: 800;
    margin:32px;
}
#popup-button:hover,
.sign-up:hover{
    background-color: #20cc5c;
}
#popup-button:active,
.sign-up:active{
    background-color: #1aa74b;
}

h2{
    color:White;
    font-size:20px;
    margin:8px 0;
}

/* footer */

.footer{
    position:fixed;
    display:flex;
    width:100%;
    height:72px;
    bottom:0;
    background: linear-gradient(90deg,#af2896,#509bf5);
    color:white;
    padding:11px 24px 7px 15px;
    justify-content: space-between;
    align-items: center;
}
.preview{
    font-weight:normal;
    font-size:12px;
    margin:0;
    margin-bottom: 4px;
}
.preview-text{
    color:White;
    font-weight: 700;
    font-size: 16px;
}
#sign-up-bottom{
    background-color: white;
    color:black
}